@{
    ViewData["Title"] = "Privacy Policy";
    string[] seasons = {"Winter", "Spring", "Summer", "Fall"};
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Message"]</h3>
<h3>@ViewBag.season</h3>
<h3>@seasons[0]</h3>

<ul>
    @foreach( var i in seasons) {
        <li>@i</li>
    }
</ul>

<p>Use this page to detail your site's privacy policy.</p>
